{% extends 'layout_base.html' %}
{% block content %}

<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline"></span></h1>

        <img src="../static/assets/profile_Anuar.png" class="img-fluid mt-3"
            style="max-width: 200px; border-radius: 50%;">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">ANUARUL IRFAN BIN MOHD SOFIAN</span>
        </h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">

            <!-- Contact Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Contact</h2>
                </div>
                <!-- Objective Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4 d-flex flex-column align-items-center">
                                    <div class="small text-muted">+6011 6219 9220</div>
                                    <div class="small text-muted">anuarulsofian@gmail.com</div>
                                    <div class="small text-muted">D'Sara Sentral,Jalan Welfare, Kampung Selamat, Seksyen
                                        U19, Sungai Buloh, Selangor</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Objective Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0 ">Objective</h2>
                </div>
                <!-- Objective Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4 d-flex flex-column align-items-center">
                                    <div class="small ">As a passionate and detail-oriented computer science graduates,
                                        I am eager to leverage my skills and knowledge in software development,
                                        algorithm design,
                                        and problem-solving to contribute to innovative projects. My goal is to secure a
                                        challenging
                                        position where I can further enhance my expertise, collaborate with dynamic
                                        teams, and make
                                        meaningful contributions to the ever-evolving field of technology. With a solid
                                        foundation
                                        in computer science principles and a commitment to continuous learning, I am
                                        excited to embark
                                        on a career that allows me to apply my creativity and technical skills to
                                        real-world challenges
                                        and overall organizational growth.
                                    </div>
                                    <div class="small"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

{%endblock%}